*{
    margin: 0;
    padding: 0;
}
/*--------Navigation--------*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}
.nav-bar ul li a:hover{
    color: green!important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 12px;
}
#slider{

    width: 100%;
}
.tales {
    width: 100%;
  }
  .carousel-inner{
    width:100%;
    max-height: 500px !important;
  }
  /*------About--------*/

  #about{
      padding-top: 50px;
      padding-bottom: 50px;
      color: #555
      
  }
  #about .btn{
      margin-top: 20px;
      margin-bottom: 30px;
  }
  .about-content{
      padding-top: 20px;
  }
  .skills-bar p{
      margin-bottom: 6px;
      font-weight: 600;
  }
  .progress-bar{
      border-radius: 16px;
  }
  .progress{
      border-radius: 16px !important;
      margin-bottom: 20px;
  }
  /*----Footer----*/
  #footer{
      background: #333333;
      color: #fff;
      padding: 12px;
      
  }